
@{
    ViewBag.Title = "Education";
}



<ul>
    <li>
        HSC
        <ul>

            <li>@ViewBag.hscInstitute</li>
            <li>@ViewBag.hscYear</li>
            <li>@ViewBag.hscGroup</li>
            <li>@ViewBag.hscResult</li>
           
        </ul>
    </li>
    <li>
        SSC
        <ul>
            <li>@ViewBag.sscInstitute</li>
            <li>@ViewBag.sscYear</li>
            <li>@ViewBag.sscGroup</li>
            <li>@ViewBag.sscResult</li>
        </ul>
    </li>
</ul>
